/* start Box */
.d-flex {
    display: flex
}

.align-center {
    align-items: center;
}

/* END BOX */

/* start padding + margin */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

/* END padding + margin */
/* start color */
.bg-white {
    background-color: white;
}


.c-black {
    color: black;
}

/* END color */
/* start position */
.p-relative {
    position: relative;
}

/* END position */
/* start font  */
.txt-c {
    text-align: center;
}

.fc-14 {
    font-size: 14px;
}

/* END font  */
/* start porder */
.red-6 {
    border-radius: 6px;
}

/* END porder */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}